html, body
  padding: 0
  margin: 0
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif
  color: #333

  --primary-color: #FF5010

*
  box-sizing: border-box

img
  display: block

a, a:active
  color: inherit